/* Google Font - Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/* Fonte do Logo */
@font-face {
    font-family: "mylogofont";
    src: url(../fonts/Mylogofont-Regular.ttf);
}
/* Rolagem do site */
html {
    scroll-behavior: smooth;
}
/* Configurações gerais da página */
body {
    background-color: #ffffff; 
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px; 
}
/* Logo de Raphael Araújo */
#icone p a {
    font-family: "mylogofont";
    font-size: 50px;
    color: #000000;
    text-decoration: none;
    position: fixed;
    top: 2.2%;
    left: 10%;
}
#icone p a:hover {
    color: #ffffff;
    text-shadow: 3px 3px 2px #000000;
    transition: 0.3s;
}
/* Barra no menu de navegação */
header {
    position: fixed;
    width: 100%;
    height: 80px;
    top: -3px;
    background-color: #ffffff;
    box-shadow: 0px 25px 20px #ffffff;
    
}
header nav ul {
    position: fixed;
    top: 5%;
    right: 10%;
}
header nav ul li {  
    display: inline-block;
}
header nav ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 10px 10px 0px 10px;
}
header nav ul li a:hover {
    color: #000000;
    text-shadow: 3px 3px 2px #000000;
    transition: 0.3s;
}
/* Links para as Mídias Sociais */
#midias-sociais {
    position: fixed;
    padding-top: 200px;
    padding-left: 1%;
}
#midias-sociais p a {
    font-size: 25px;
    color: #000000;
}
#midias-sociais p a:hover {
    color: #ffffff;
    text-shadow: 3px 3px 2px #000000;
    transition: 0.3s;  
}
/* Configuração geral para todas as seções */
section {
    padding-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    height: 500px;
    text-align: left;
}
/* Seção Início */
#inicio h1, h2{
    font-size: 60px;
    line-height: 0.3;
}
#inicio h2 {
    font-size: 50px;
    color: gray;
}
#inicio p {
    font-size: 25px;
}
/* Seção Sobre */
#sobre p {
    font-size: 25px;
    text-align: left;
}
#sobre p a {
    color: #000000;
    text-decoration: none;
    font-weight: bolder;
}
#sobre p a:hover {
    color: #000000;
    text-shadow: 3px 3px 2px #000000;
    transition: 0.3s;
}
#sobre q {
    font-size: 35px;
    color: gray;
}
/* Seção de Contato */
#contato p {
    font-size: 25px;
    text-align: left;
}
#contato p a {
    color: #000000;
    text-decoration: none;
    font-weight: bolder;
}
#contato p a:hover {
    color: #000000;
    text-shadow: 3px 3px 2px #000000;
    transition: 0.3s;
}
/* Rodapé */
footer p {
    text-align: center;
    font-size: 15px;
}
/* Configurações para responsividade da página */
@media  (max-width: 900px) {
    section {
        height: 600px;
    }
    #inicio h1{
        font-size: 50px;
    }
    #inicio h2 {
        font-size: 40px;
    }
    #inicio p {
        font-size: 20px;
    }
    #sobre h2 {
        font-size: 40px;
    }
    #sobre p {
        font-size: 20px;
    }
    #sobre q {
        font-size: 25px;
    }
    #contato h2 {
        font-size: 40px;
    }
    #contato p {
        font-size: 20px;
    }
    @media  (max-width: 720px) {
        #icone p a {
            left: 10%;
        }
        header nav ul {
            right: 10%;
        }
        #inicio h1{
            font-size: 45px;
        }
        #inicio h2 {
            font-size: 35px;
        }
        #sobre h2 {
            font-size: 35px;
        }
        #contato h2 {
            font-size: 35px;
        }
    }
    @media  (max-width: 480px) {
        #icone p a {
            top: 3.5%;
            left: 10%;
        }
        header nav ul {
            top: 5%;
            right: 10%;
            font-size: 10px;
        }
        #midia-social p a {
            font-size: 20px;
        }
        section {
            margin-left: 10%;
            margin-right: 10%;           
        }
        #inicio h1{
            font-size: 30px;
        }
        #inicio h2 {
            font-size: 20px;
        }
        #inicio p {
            font-size: 15px;
        }
        #sobre h2 {
            font-size: 20px;
        }
        #sobre p {
            font-size: 15px;
        }
        #sobre h2 {
            font-size: 20px;
        }
        #sobre p {
            font-size: 15px;
        }
        
    }
    
}
